body#about {
  main {
    margin-top: -32px;
    align-items: flex-start;

    img {
      width: 100%;
      height: auto;
      max-width: 650px;
      margin-left: -100px;

      @media screen and (max-width: 900px) {
        max-width: 550px;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .text {
      margin-top: 20vh;
      max-width: 450px;
      line-height: 150%;

      @media screen and (max-width: 768px) {
        text-align: center;
        max-width: initial;
        width: 90%;
      }

      @media screen and (max-width: 500px) {
        margin-top: 80px;
      }
    }

    h1 {
      font-size: 64px;
      margin-bottom: 50px;

      @media screen and (max-width: 900px) {
        font-size: 50px;
      }
    }

    p {
      font-family: 'Roboto', sans-serif;
      opacity: 0.75;
      font-size: 20px;
      letter-spacing: 1px;

      @media screen and (max-width: 900px) {
        font-size: 18px;
      }

      @media screen and (max-width: 425px) {
        font-size: 16px;
      }
    }

    a {
      color: $white-color;
      transition: all 0.2s ease;

      &:link,
      &:visited {
        opacity: 1;
      }

      &:hover,
      &:active {
        opacity: 0.75;
      }
    }
  }
}