* {
  box-sizing: border-box;
}

html {
  background-color: $primary-color;
  color: $white-color;
}

body {
  font-family: 'Nova Square', cursive;
  min-height: 750px;
  height: 100vh;
  max-width: 100vw;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow-x: hidden;

  @media screen and (max-height: 750px) {
    height: 100%;
  }

  &::before,
  &::after {
    z-index: 0;
    content: '';
    position: absolute;
  }

  &::before {
    height: 40vh;
    width: 450px;
    background: url('/img/left-bg.png') left center no-repeat;
    background-size: contain;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &::after {
    height: 20vh;
    width: 20vh;
    background: url('/img/right-bg.png') right bottom no-repeat;
    background-size: contain;
    bottom: 0;
    right: 0;
  }

  #loading {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $primary-color;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation-name: desolve;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    pointer-events: none;

    img {
      max-height: 70px;
      margin-bottom: 16px;
    }

    p {
      margin-left: -4px;
    }
  }
}

audio {
  position: absolute;
  left: 10000px;
  opacity: 0;
  display: none;
}

@keyframes desolve {
  0% {
    opacity: 1;
    display: initial;
  }

  99% {
    opacity: 0;
    display: initial;
  }

  100% {
    opacity: 0;
    display: none;
  }
}